<p>
  <strong>Article ID:</strong>
  <%= @article.id %> &emsp; (created at: <%= @article.created_at %>) &emsp; | &emsp; (updated at: <%= @article.updated_at %>)
</p>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= link_to 'Edit the Article', edit_article_path(@article) %> |
<%= link_to 'List of all articles', articles_path %>